<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Separador" value="|" />
    <add key="RutaArchivoCrucebsoH2H" value="C:\gnesios\crucebsoh2h.dat" />
    <add key="RutaArchivoCrucebso" value="C:\gnesios\crucebso.dat" />
    <add key="RutaArchivoInctf02" value="C:\gnesios\inctf02.dat" />
    <add key="RutaArchivoControl" value="C:\gnesios\datos\" />
    <add key="RutaBase" value="C:\datos\" />
    <add key="NombreArchivoATCReconSink" value="ATCReconSink" />
    <add key="NombreArchivoATCReconSource" value="ATCReconSource" />
    <add key="NombreArchivoATCReconSourceBaseII" value="ATCReconSourceBase2" />
    <add key="TarjetasBSOL" value="404719;411768;412552" />
    <add key="ServidorCorreo" value="10.9.0.7" />
    <add key="UsuarioOrigenCorreo" value="MonitoreoPostilion@bancosol.com.bo" />
    <add key="ListaUsuarioDestino" value="carce@bancosol.com.bo, vmendoza@bancosol.com.bo" />
    <add key="ListaConCopiaDestino" value="rcruz@bancosol.com.bo" />
    <add key="CorreoConfirmacion" value="SI" />
    <!--Campos Salida Recon-->
    <add key="CantidadCamposRecon" value="30" />
    <!--campo 01 "Tipo de mensaje tabla 2.b.a " ; Alfanumérico ; Requerido-->
    <add key="CSalida01" value="4" />
    <!--campo 02 "Número de auditoría" ; Alfanumérico ; Requerido-->
    <add key="CSalida02" value="10" />
    <!--campo 03 "PAN Número de tarjeta" ; Alfanumérico ; Requerido-->
    <add key="CSalida03" value="19" />
    <!--campo 04 "Tipo de transacción tabla 2.b.b " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida04" value="2" />
    <!--campo 05 "Cuenta origen tabla 2.b.c " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida05" value="2" />
    <!--campo 06 "Cuenta destino tabla 2.b.c " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida06" value="2" />
    <!--campo 07 "Fecha de la transacción YYYYMMDD" ; Alfanumérico ; Requerido-->
    <add key="CSalida07" value="8" />
    <!--campo 08 "Hora de la transacción hhmmss" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida08" value="6" />
    <!--campo 09 "Fecha de cierre YYYYMMDD" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida09" value="8" />
    <!--campo 10 "ID Dispositivo - identificación ATM - POS" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida10" value="10" />
    <!--campo 11 "Monto de la transacción en la moneda solicitada incluye dos decimales" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida11" value="15" />
    <!--campo 12 "Monto Emisor - Equivalente monto de la transacción en moneda de la cuenta incluye dos decimales" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida12" value="15" />
    <!--campo 13 "Moneda de la transacción" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida13" value="3" />
    <!--campo 14 "Moneda Emisor - Moneda del equivalente de la transacción" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida14" value="3" />
    <!--campo 15 "Código de Respuesta tabla 2.b.d " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida15" value="2" />
    <!--campo 16 "ID adquiriente - Identificación de la institución dueña del dispositivo que adquirió la transacción" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida16" value="11" />
    <!--campo 17 "Emisor - código asignado por Bantotal tabla 2.b.e , que identifica a la entidad financiera emisora de la tarjeta" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida17" value="3" />
    <!--campo 18 "Banco Emisor -  tabla 2.b.f  código de la entidad a la cual pertenece la tarjeta" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida18" value="3" />
    <!--campo 19 "Sucursal emisora tabla 2.b.g " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida19" value="3" />
    <!--campo 20 "Código banco POS - tabla 2.b.a  código de la Entidad a la que pertenece el POS" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida20" value="3" />
    <!--campo 21 "Sucursal POS tabla 2.b.a " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida21" value="3" />
    <!--campo 22 "Descripción o dirección de la entidad POS" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida22" value="40" />
    <!--campo 23 "Número Comprobante" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida23" value="8" />
    <!--campo 24 "Número lote" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida24" value="4" />
    <!--campo 25 "Arancel o comisión, incluye dos decimales " ; Alfanumérico ; 00 si no existe-->
    <add key="CSalida25" value="5" />
    <!--campo 26 "Marca Internacional - tabla 2.b.h  identificador de la transacción" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida26" value="1" />
    <!--campo 27 "Modo entrada POS tabla 2.b.j " ; Alfanumérico ; espacio si no se especifica-->
    <add key="CSalida27" value="2" />
    <!--campo 28 "Número secuencial" ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida28" value="4" />
    <!--campo 29 "Código de la operación tabla 2.b.k " ; Alfanumérico ; nulo si no existe-->
    <add key="CSalida29" value="4" />
    <!--campo 30 "Tipo origen tabla 2.b.i " ; Alfanumérico ; requerido-->
    <add key="CSalida30" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>