<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Separador" value="|" />
    <add key="RutaArchivoCrucebsoH2H" value="C:\RepCruceATC\Dat\crucebsoh2h.dat" />
    <add key="RutaArchivoCrucebso" value="C:\RepCruceATC\Dat\crucebso.dat" />
    <add key="RutaArchivoInctf02" value="C:\RepCruceATC\Dat\inctf02.dat" />
    <add key="RutaArchivoControl" value="C:\RepCruceATC\Log\" />
    <add key="RutaBase" value="C:\RepCruceATC\" />
    <add key="NombreArchivoRepCruceATCDet" value="RepCruceATCDet" />
    <add key="NombreArchivoRepCruceATCRes" value="RepCruceATCRes" />
    <add key="TipoCambioReporte" value="6.86" />
    <add key="VISAComisionCobrar" value="0.05" />
    <add key="MASTERComisionCobrar" value="0.04" />
    <add key="OtrosComisionCobrar" value="0.00" />
    <add key="VISAComisionPagar" value="0.07" />
    <add key="MASTERComisionPagar" value="0.08" />
    <add key="OtrosComisionPagar" value="0.00" />
    <add key="ServidorCorreo" value="10.9.0.7" />
    <add key="UsuarioOrigenCorreo" value="MonitorRepCruceATC@bancosol.com.bo" />
    <add key="ListaUsuarioDestino" value="carce@bancosol.com.bo, vmendoza@bancosol.com.bo" />
    <add key="ListaConCopiaDestino" value="rcruz@bancosol.com.bo" />
    <add key="CorreoConfirmacion" value="SI" />
  </appSettings>

</configuration>