<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key ="Separador" value ="|"/>

    <add key ="RutaArchivoExtract" value ="C:\Gnesios\postilion_warehouse_"/>
    <add key ="RutaArchivoControl" value ="C:\Gnesios\datos\"/>
    <add key ="UrlWSContabiliza" value ="http://vapplpre09srv/wsinterfacesbsol/contabiliza.asmx"/>
    <add key ="ValorUsuario" value ="userpost"/>
    <add key ="ValorClave" value ="123456"/>

    <add key ="ServidorCorreo" value ="10.9.0.7"/>
    <add key ="UsuarioOrigenCorreo" value ="MonitoreoPostilion@bancosol.com.bo"/>
    <add key ="ListaUsuarioDestino" value ="carce@bancosol.com.bo, vmendoza@bancosol.com.bo"/>
    <add key ="ListaConCopiaDestino" value ="rcruz@bancosol.com.bo"/>

    <add key ="CorreoConfirmacion" value ="SI"/>    
    
  </appSettings>
</configuration>